aiohttp==3.7.4.post0
alabaster==0.7.12
altair==4.1.0
anaconda-client==1.2.2
appdirs==1.4.4
appnope==0.1.0
appscript==1.0.1
asn1crypto==1.0.1
astor==0.8.1
astroid==2.3.1
astropy==3.2.2
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.2.0
autopep8==1.5.4
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
base58==2.1.0
beautifulsoup4==4.8.0
bentley-ottmann==2.0.0
bitarray==1.0.1
bkcharts==0.2
bleach==3.1.0
blinker==1.4
bokeh==1.3.4
boto==2.49.0
Bottleneck==1.2.1
branca==0.4.1
cachetools==4.2.0
category-encoders==2.2.2
certifi==2021.5.30
cffi==1.12.3
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.7.0
clikit==0.6.2
cloudpickle==1.2.2
cmdstanpy==0.9.5
colorama==0.4.1

